:root {
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --background: #121212;
  --surface: #121212;
  --error: #cf6679;
  --warning: #f39c12;
  --on-background: #ffffff;
  --on-background-grey: #c7c7c7;
  --on-surface: #ffffff;
}

[data-theme="light"],
.swal2-theme-light {
  --background: #dddddd;
  --suface: #ffffff;
  --on-background: #333333;
  --on-background-grey: #6d6d6d;
  --on-surface: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--on-background);
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--background);
}

.app-container {
  color: var(--on-background);
  background-color: var(--background);
  min-height: 100vh;
  transition: all ease-in-out 0.5s;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-bottom: 1px solid var(--on-background);
}

header h1 {
  flex: 1;
}

header .navigation ul {
  display: flex;
}

header .navigation ul li {
  display: inline-block;
  font-size: 24px;
  margin: 0 16px;
  line-height: 36px;
}

header .navigation ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .navigation ul li a span {
  font-size: 16px;
  line-height: 16px;
  margin-top: 2px;
}

a:hover,
header .navigation button:hover {
  color: var(--warning);
}

main {
  margin: 0 auto;
  padding: 32px 0;
  width: 90%;
  max-width: 1200px;
}

.homepage h2 {
  border-left: 3px solid var(--primary);
  padding-left: 0.5rem;
}

.archives-page h2 {
  border-left: 3px solid var(--warning);
  padding-left: 0.5rem;
}

.notes-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px 8px;
}

.notes-list-empty,
.detail-page-empty {
  margin-top: 32px;
  padding: 16px 8px;
}

.notes-list-empty p,
.detail-page-empty p {
  text-align: center;
  color: var(--on-background-grey);
}
.note-item {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  border-top: 5px solid;
}

.note-item:hover {
  scale: 1.05;
}

.note-item a:hover {
  color: var(--warning);
}

.note-item__title {
  margin: 4px 0;
}

.note-item__createdAt {
  color: var(--on-background-grey);
  font-size: 14px;
  margin: 4px 0;
}

.note-item__body {
  margin-top: 16px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.detail-page {
  margin: 0 auto;
  margin-top: 32px;
  width: 90%;
}

.detail-page__title {
  font-size: 48px;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.detail-page__createdAt {
  color: var(--on-background-grey);
  display: inline-block;
}

.detail-page__noteIsArchived {
  font-style: italic;
  font-weight: 700;
  margin-left: 1rem;
  color: var(--warning);
}

.detail-page__body {
  line-height: 1.5;
  margin-top: 36px;
  font-size: 18px;
}

.detail-page__action,
.homepage__action,
.add-new-page__action {
  position: fixed;
  display: flex;
  gap: 16px;
  bottom: 32px;
  right: 32px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--on-background);
  color: var(--background);
  padding: 8px;
  cursor: pointer;
}
.action:is([disabled]) {
  background-color: var(--on-background-grey);
}
.action:hover:not([disabled]) {
  box-shadow: 0 4px 2px var(--on-background-grey);
  scale: 1.1;
}

.add-new-page__input {
  margin-top: 32px;
}

.add-new-page__input .add-new-page__input__title {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  font-family: "Figtree", sans-serif;
  font-size: 64px;
  font-weight: bold;
  padding: 8px;
}

.add-new-page__input__title::placeholder {
  color: var(--on-background-grey);
}

.add-new-page__input .add-new-page__input__body {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  padding: 8px;
  min-height: 250px;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: var(--on-background-grey);
}

.search-bar input {
  margin: 16px 0;
  font-family: "Figtree", sans-serif;
  background-color: transparent;
  border: 1px solid var(--on-background);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  color: var(--on-background);
}

.search-bar input::placeholder {
  color: var(--on-background-grey);
}

.toggle-theme,
.toggle-locale,
.button-logout {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--on-background);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.toggle-theme {
  font-size: 26px;
}

.toggle-locale {
  font-size: 22px;
}

.toggle-locale > .locale {
  font-size: 16px;
  margin-left: 8px;
}

.login-page,
.register-page {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 2rem;
}

.login-page > h2,
.register-page h2 {
  text-align: center;
  font-size: 2.2rem;
}

.input-login,
.input-register {
  margin: 32px 0;
}

.input-label {
  font-size: 24px;
  font-weight: lighter;
}

.input-control {
  font-size: 18px;
  font-family: "Figtree", sans-serif;
  margin-top: 8px;
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  border: 3px solid var(--on-background);
  color: var(--on-background);
}

.input-group {
  margin-top: 16px;
}

.input-alert {
  display: block;
  margin: 0;
  margin-top: 4px;
  font-style: italic;
  font-size: 1rem;
}

.input-alert.danger {
  color: var(--error);
}

.input-alert.success {
  color: var(--secondary);
}

.input-alert.warning {
  color: var(--warning);
}

.input-btn-submit {
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background-color: var(--on-background);
  color: var(--background);
  cursor: pointer;
  margin-top: 1.5rem;
}

.button-logout {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  color: var(--on-background);
}

._404 {
  height: calc(100vh - 136px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._404__title {
  font-size: 5rem;
  letter-spacing: 1rem;
}

._404__subtitle {
  font-size: 2rem;
}

.alert {
  background-color: var(--background);
  border: 1px solid var(--on-background);
  border-radius: 8px;
  min-height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
}

.alert__success {
  color: var(--secondary);
}

.alert__warning {
  color: var(--warning);
}

.alert__danger {
  color: var(--error);
}

.font-bold {
  font-weight: 900;
}

.swal2-theme-dark,
.swal2-theme-light {
  background-color: var(--background) !important;
  color: var(--on-background) !important;
  border: 1px solid var(--on-background) !important;
}

.hide {
  display: none;
}

.sign-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 60vw;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  opacity: 0.7;
}

.banner-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title h1 {
  font-size: 3.5rem;
  color: var(--surface);
}

.banner-photo-credit {
  position: absolute;
  bottom: 0;
  left: calc(50% - 134px);
  padding-bottom: 16px;
  text-align: center;
}

.banner-photo-credit,
.banner-photo-credit a {
  color: var(--surface);
  font-size: 14px;
}

.sign-btn-action {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.sign-btn-action button svg {
  width: 24px;
}

.dropdown-menu {
  position: relative;
}

.dropdown-btn {
  font-size: 30px;
  border: none;
  width: 28px;
  height: 28px;
  margin: 0 auto 2px;
}

.dropdown-btn:hover {
  box-shadow: none !important;
  scale: 1 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--background);
  border: 1px solid var(--on-background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content button {
  padding: 12px 16px;
  margin: 0 auto;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: var(--warning);
  border-radius: 8px;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-menu:hover .dropdown-btn {
  background-color: var(--warning);
}

.dropdown-menu:hover .dropdown-btn-wrapper span {
  color: var(--warning);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  margin: 0 8px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch.dark > .slider {
  background-color: var(--primary-variant);
}

.switch.dark > .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

@media screen and (min-width: 650px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-page__title {
    font-size: 64px;
  }

  .alert {
    flex-direction: row;
    font-size: 1rem;
  }

  .alert__msg {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 850px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .sign-container {
    flex-direction: row-reverse;
    height: auto;
  }

  .main-container {
    width: 40%;
  }

  .banner-container {
    width: 60%;
  }

  .sign-btn-action {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
